# Importing libraries and reading CSV files

In [1]:
import pandas as pd
import pandas_profiling as pp
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
weather = pd.read_csv ('./predict-west-nile-virus/weather.csv')

| Feature     | File  | Description                                                                                                 |
|-------------|-------|-------------------------------------------------------------------------------------------------------------|
| Station     | Weather | date that the WNV test is performed                                                                         |
| Date        | Weather | approximate address of the location of trap\. This is used to send to the GeoCoder\.                        |
| Tmax        | Weather | the species of mosquitos                                                                                    |
| Tmin        | Weather | block number of address                                                                                     |
| Tavg        | Weather | street name                                                                                                 |
| Depart      | Weather | Id of the trap                                                                                              |
| DewPoint    | Weather | approximate address returned from GeoCoder                                                                  |
| WetBulb     | Weather | Latitude and Longitude returned from GeoCoder                                                               |
| Heat        | Weather | accuracy returned from GeoCoder                                                                             |
| Cool        | Weather | number of mosquitoes caught in this trap                                                                    |
| Sunrise     | Weather | whether West Nile Virus was present in these mosquitos\. 1 means WNV is present, and 0 means not present\.  |
| Sunset      | Weather |                                                                                                             |
| CodeSum     | Weather |                                                                                                             |
| Depth       | Weather |                                                                                                             |
| Water1      | Weather |                                                                                                             |
| SnowFall    | Weather |                                                                                                             |
| PrecipTotal | Weather |                                                                                                             |
| StnPressure | Weather |                                                                                                             |
| SeaLevel    | Weather |                                                                                                             |
| ResultSpeed | Weather |                                                                                                             |
| ResultDir   | Weather |                                                                                                             |
| AvgSpeed    | Weather |                                                                                                             |

In [3]:
weather.shape

(2944, 22)

In [4]:
pp.ProfileReport(weather)

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   â€¦

In [5]:
weather.columns

Index(['Station', 'Date', 'Tmax', 'Tmin', 'Tavg', 'Depart', 'DewPoint',
       'WetBulb', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'CodeSum', 'Depth',
       'Water1', 'SnowFall', 'PrecipTotal', 'StnPressure', 'SeaLevel',
       'ResultSpeed', 'ResultDir', 'AvgSpeed'],
      dtype='object')

In [6]:
weather.columns = weather.columns.map(lambda x: x.lower())

In [7]:
weather.columns

Index(['station', 'date', 'tmax', 'tmin', 'tavg', 'depart', 'dewpoint',
       'wetbulb', 'heat', 'cool', 'sunrise', 'sunset', 'codesum', 'depth',
       'water1', 'snowfall', 'preciptotal', 'stnpressure', 'sealevel',
       'resultspeed', 'resultdir', 'avgspeed'],
      dtype='object')

In [8]:
weather.isnull().sum()

station        0
date           0
tmax           0
tmin           0
tavg           0
depart         0
dewpoint       0
wetbulb        0
heat           0
cool           0
sunrise        0
sunset         0
codesum        0
depth          0
water1         0
snowfall       0
preciptotal    0
stnpressure    0
sealevel       0
resultspeed    0
resultdir      0
avgspeed       0
dtype: int64

In [9]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 22 columns):
station        2944 non-null int64
date           2944 non-null object
tmax           2944 non-null int64
tmin           2944 non-null int64
tavg           2944 non-null object
depart         2944 non-null object
dewpoint       2944 non-null int64
wetbulb        2944 non-null object
heat           2944 non-null object
cool           2944 non-null object
sunrise        2944 non-null object
sunset         2944 non-null object
codesum        2944 non-null object
depth          2944 non-null object
water1         2944 non-null object
snowfall       2944 non-null object
preciptotal    2944 non-null object
stnpressure    2944 non-null object
sealevel       2944 non-null object
resultspeed    2944 non-null float64
resultdir      2944 non-null int64
avgspeed       2944 non-null object
dtypes: float64(1), int64(5), object(16)
memory usage: 506.1+ KB

Non-object features are: `Station`, `Tmax`, `Tmin`, `Dewpoint`, `ResultSpeed`, and `ResultDir`.
`.isnull()` should be enough to filter out null items

Need to check more in-depth for other object features

### Station

In [10]:
weather.station.value_counts()

1    1472
2    1472
Name: station, dtype: int64

### Date

In [11]:
weather.date.value_counts().sum()

2944

In [12]:
weather.date.describe()

count           2944
unique          1472
top       2009-07-01
freq               2
Name: date, dtype: object

In [13]:
weather['date']

0       2007-05-01
1       2007-05-01
2       2007-05-02
3       2007-05-02
4       2007-05-03
           ...
2939    2014-10-29
2940    2014-10-30
2941    2014-10-30
2942    2014-10-31
2943    2014-10-31
Name: date, Length: 2944, dtype: object

In [14]:
weather['date'] = weather['date'].str.split('-')
weather['date']

0       [2007, 05, 01]
1       [2007, 05, 01]
2       [2007, 05, 02]
3       [2007, 05, 02]
4       [2007, 05, 03]
             ...
2939    [2014, 10, 29]
2940    [2014, 10, 30]
2941    [2014, 10, 30]
2942    [2014, 10, 31]
2943    [2014, 10, 31]
Name: date, Length: 2944, dtype: object

In [15]:
weather['year'] = [y[0] for y in weather['date']]
weather['year']

0       2007
1       2007
2       2007
3       2007
4       2007
        ...
2939    2014
2940    2014
2941    2014
2942    2014
2943    2014
Name: year, Length: 2944, dtype: object

In [16]:
weather['month'] = [y[1] for y in weather['date']]
weather['month']

0       05
1       05
2       05
3       05
4       05
        ..
2939    10
2940    10
2941    10
2942    10
2943    10
Name: month, Length: 2944, dtype: object

In [17]:
weather['day'] = [y[2] for y in weather['date']]
weather['day']

0       01
1       01
2       02
3       02
4       03
        ..
2939    29
2940    30
2941    30
2942    31
2943    31
Name: day, Length: 2944, dtype: object

### Tmax

In [18]:
weather.tmax.unique()

array([ 83,  84,  59,  60,  66,  67,  78,  68,  82,  80,  77,  76,  70,
        73,  64,  65,  69,  90,  62,  61,  71,  79,  87,  89,  88,  75,
        85,  86,  81,  72,  63,  91,  92,  93,  74,  94,  54,  53,  56,
        57,  58,  55,  50,  95,  52,  47,  45,  51,  48,  44,  49,  46,
        96,  99, 100, 101,  97,  98, 102, 103, 104,  42,  41])

### Tmin

In [19]:
weather.tmin.unique()

array([50, 52, 42, 43, 46, 48, 49, 51, 53, 54, 47, 60, 61, 63, 56, 59, 44,
       57, 45, 55, 66, 65, 70, 68, 62, 67, 64, 58, 71, 69, 73, 75, 72, 74,
       39, 41, 40, 37, 34, 38, 35, 36, 33, 31, 32, 76, 77, 29, 78, 79, 80,
       81, 82, 83])

### Tavg

In [20]:
weather.tavg.unique()

array(['67', '68', '51', '52', '56', '58', 'M', '60', '59', '65', '70',
       '69', '71', '61', '55', '57', '73', '72', '53', '62', '63', '74',
       '75', '78', '76', '77', '66', '80', '64', '81', '82', '79', '85',
       '84', '83', '50', '49', '46', '48', '45', '54', '47', '44', '40',
       '41', '38', '39', '42', '37', '43', '86', '87', '89', '92', '88',
       '91', '93', '94', '90', '36'], dtype=object)

'M' is represented by missing data, hence dropping rows with 'M'

In [21]:
tavg_missing = weather['tavg'].map(lambda x: x == 'M')
tavg_missing.sum()

11

In [22]:
weather = weather[~tavg_missing]

In [23]:
weather['tavg'] = weather['tavg'].astype(float)

### Depart

### DewPoint

In [24]:
weather.dewpoint.isnull().sum()

0

### WetBulb

In [25]:
wetbulb_missing = weather['wetbulb'].map(lambda x: x == 'M')
wetbulb_missing.sum()

4

In [26]:
weather = weather[~wetbulb_missing]

In [27]:
weather['wetbulb'] = weather['wetbulb'].astype(float)

### Heat

In [28]:
heat_missing = weather['heat'].map(lambda x: x == 'M')
heat_missing.sum()

0

In [29]:
weather['heat'] = weather['heat'].astype(float)

### Cool

In [30]:
cool_missing = weather['cool'].map(lambda x: x == 'M')
cool_missing.sum()

0

In [31]:
weather['cool'] = weather['cool'].astype(float)

### Sunrise

In [32]:
sunrise_missing = weather['sunrise'].map(lambda x: x == 'M')
sunrise_missing.sum()

0

In [33]:
weather['sunrise'].value_counts().head()

-       1460
0416     104
0417      64
0419      40
0425      32
Name: sunrise, dtype: int64

### Sunset

In [34]:
sunset_missing = weather['sunset'].map(lambda x: x == 'M')
sunset_missing.sum()

0

In [35]:
weather['sunset'].value_counts().head()

-       1460
1931      95
1930      56
1929      48
1923      32
Name: sunset, dtype: int64

### CodeSum

In [36]:
codesum_missing = weather['codesum'].map(lambda x: x == 'M')
codesum_missing.sum()

0

In [37]:
weather['codesum'].unique()

array([' ', 'BR', 'BR HZ', 'HZ', 'RA', 'RA BR', 'TSRA RA BR', 'RA VCTS',
       'TSRA RA', 'RA HZ', 'TSRA RA BR HZ', 'TSRA BR HZ', 'RA BR HZ VCTS',
       'TSRA RA HZ', 'TSRA BR HZ VCTS', 'TSRA', 'TSRA BR HZ FU',
       'TSRA RA HZ FU', 'BR HZ FU', 'TSRA RA VCTS', 'HZ VCTS', 'TSRA HZ',
       'VCTS', 'RA BR VCTS', 'TSRA RA BR VCTS', 'TS TSRA RA BR HZ VCTS',
       'DZ BR', 'TS TSRA RA BR HZ', 'TS TSRA BR HZ', 'RA BR HZ',
       'TSRA RA DZ BR HZ', 'TS TSRA RA BR', 'TS RA BR', 'TS TSRA RA',
       'TS TSRA RA BR VCTS', 'TS TSRA BR', 'TS RA', 'RA BCFG BR',
       'TSRA BR', 'RA DZ FG+ BCFG BR', 'RA FG+ MIFG BR', 'RA DZ',
       'RA DZ BR', 'TS TSRA RA HZ', 'TSRA RA FG+ FG BR',
       'TSRA DZ FG+ FG BR HZ', 'TS BR', 'RA BR SQ', 'TS TSRA',
       'TSRA RA BR HZ VCTS', 'BR VCTS', 'TS', 'FG+ BR HZ', 'RA SN',
       'TSRA RA DZ BR', 'DZ BR HZ', 'RA BR FU', 'TS BR HZ', 'DZ',
       'FG+ BR', 'FG+ FG BR', 'FG+ MIFG BR', 'TSRA RA FG BR',
       'TSRA FG+ BR', 'RA DZ BR HZ', 'RA DZ SN', 'FG+ FG BR HZ',
       'TS TSRA RA FG BR', 'BR HZ VCFG', 'TS RA FG+ FG BR',
       'TSRA RA FG+ BR', 'RA DZ FG+ FG BR', 'TS TSRA RA VCTS', 'FU',
       'TS TSRA VCFG', 'TS TSRA HZ', 'TS TSRA GR RA BR', 'RA FG BR',
       'HZ FU', 'RA BR HZ FU', 'MIFG BCFG BR', 'FG+ BCFG BR',
       'TSRA RA FG+ FG BR HZ', 'FG+', 'TSRA BR SQ', 'TSRA DZ BR HZ',
       'RA BR HZ VCFG', 'RA FG+ BR', 'FG BR HZ', 'TS HZ',
       'TS TSRA RA FG BR HZ', 'RA DZ FG+ BR', 'RA DZ FG+ BR HZ',
       'TSRA FG+ BR HZ', 'RA BR VCFG', 'TS RA BR HZ', 'BCFG BR',
       'RA SN BR'], dtype=object)

In [38]:
codesums  = set(weather.codesum.str.split(' ').map(tuple))

codes = set()
for cs in codesums:
    for code in cs:
        codes.add(code)
codes.discard('')
codes = list(codes)

In [39]:
def build_df_codesum(row, codes):
    cs = set(row['codesum'].split())
    code_out = [int(code in cs) for code in codes]
    code_out = pd.Series(data=code_out, index=codes)
    return code_out

weather[codes] = weather.apply(lambda row:build_df_codesum(row, codes), 1)

In [40]:
weather.drop('codesum', 1, inplace=True)

### Depth

In [41]:
depth_missing = weather['depth'].map(lambda x: x == 'M')
depth_missing.sum()

1460

In [42]:
weather['depth'].value_counts()

0    1469
M    1460
Name: depth, dtype: int64

Since ~half of the `depth` datas are missing, we will be dropping this column

In [43]:
weather.drop('depth', 1, inplace=True)

### Water1

In [44]:
water1_missing = weather['water1'].map(lambda val: val == 'M')
water1_missing.sum()

2929

In [45]:
weather['water1'].value_counts()

M    2929
Name: water1, dtype: int64

Since >half of the `water1` datas are missing, we will be dropping this column

In [46]:
weather.drop('water1', 1, inplace=True)

### SnowFall

In [47]:
snowFall_missing = weather['snowfall'].map(lambda x: x == 'M')
snowFall_missing.sum()

1460

In [48]:
weather['snowfall'].value_counts()

M      1460
0.0    1456
  T      12
0.1       1
Name: snowfall, dtype: int64

Doesnt make sense to keep this column with only 13 useful values. hence, drop `snowfall` feature

In [49]:
weather.drop('snowfall', 1, inplace=True)

### PrecipTotal

In [50]:
preciptotal_missing = weather['preciptotal'].map(lambda x: x == 'M')
preciptotal_missing.sum()

2

In [51]:
weather = weather[~preciptotal_missing]

In [52]:
weather['preciptotal'].value_counts().to_dict()

{'0.00': 1570,
 '  T': 317,
 '0.01': 126,
 '0.02': 63,
 '0.03': 46,
 '0.04': 35,
 '0.05': 32,
 '0.12': 28,
 '0.08': 28,
 '0.06': 26,
 '0.07': 23,
 '0.09': 21,
 '0.16': 21,
 '0.11': 20,
 '0.14': 19,
 '0.17': 17,
 '0.19': 14,
 '0.13': 14,
 '0.28': 14,
 '0.18': 14,
 '0.15': 13,
 '0.20': 13,
 '0.23': 11,
 '0.26': 11,
 '0.25': 11,
 '0.10': 10,
 '0.24': 10,
 '0.43': 9,
 '0.31': 9,
 '0.39': 9,
 '0.21': 9,
 '0.40': 9,
 '0.29': 9,
 '0.34': 8,
 '0.32': 8,
 '0.45': 7,
 '0.33': 7,
 '0.59': 7,
 '0.50': 7,
 '0.22': 7,
 '0.41': 7,
 '0.30': 7,
 '0.37': 7,
 '0.48': 7,
 '0.65': 6,
 '0.63': 6,
 '0.27': 6,
 '0.80': 6,
 '0.84': 6,
 '0.68': 5,
 '0.93': 5,
 '0.36': 5,
 '0.85': 5,
 '0.54': 5,
 '0.92': 5,
 '0.44': 5,
 '0.75': 4,
 '1.23': 4,
 '0.64': 4,
 '0.89': 4,
 '0.52': 4,
 '0.97': 4,
 '0.70': 4,
 '0.55': 4,
 '0.72': 4,
 '0.58': 4,
 '0.51': 4,
 '1.01': 3,
 '0.88': 3,
 '0.74': 3,
 '0.56': 3,
 '0.35': 3,
 '0.42': 3,
 '0.71': 3,
 '1.05': 3,
 '1.55': 3,
 '0.87': 3,
 '0.82': 3,
 '0.47': 3,
 '1.31': 3,
 '0.77': 3,
 '0.60': 3,
 '1.03': 3,
 '0.66': 3,
 '0.86': 2,
 '0.79': 2,
 '0.81': 2,
 '1.15': 2,
 '0.49': 2,
 '0.61': 2,
 '1.12': 2,
 '0.69': 2,
 '1.02': 2,
 '0.38': 2,
 '1.61': 2,
 '0.57': 2,
 '1.28': 2,
 '0.83': 2,
 '0.78': 2,
 '0.53': 2,
 '0.67': 2,
 '0.73': 2,
 '1.43': 2,
 '1.16': 2,
 '0.95': 2,
 '1.33': 2,
 '1.29': 2,
 '0.46': 2,
 '1.22': 1,
 '0.91': 1,
 '0.98': 1,
 '1.57': 1,
 '1.26': 1,
 '1.46': 1,
 '1.14': 1,
 '1.11': 1,
 '1.34': 1,
 '3.17': 1,
 '1.60': 1,
 '1.90': 1,
 '3.07': 1,
 '6.64': 1,
 '1.07': 1,
 '6.86': 1,
 '4.73': 1,
 '1.09': 1,
 '1.18': 1,
 '3.97': 1,
 '0.76': 1,
 '2.68': 1,
 '2.60': 1,
 '1.38': 1,
 '1.25': 1,
 '1.04': 1,
 '2.35': 1,
 '1.96': 1,
 '3.31': 1,
 '2.09': 1,
 '1.58': 1,
 '2.20': 1,
 '2.06': 1,
 '2.79': 1,
 '1.19': 1,
 '1.30': 1,
 '2.90': 1,
 '0.96': 1,
 '1.35': 1,
 '1.49': 1,
 '1.21': 1,
 '1.73': 1,
 '2.76': 1,
 '1.44': 1,
 '0.62': 1,
 '1.82': 1,
 '2.24': 1,
 '2.17': 1,
 '2.03': 1,
 '1.06': 1,
 '3.66': 1,
 '0.90': 1,
 '1.48': 1,
 '1.75': 1,
 '1.24': 1,
 '1.88': 1,
 '3.15': 1,
 '2.43': 1,
 '3.64': 1}

In [53]:
#weather['preciptotal'] = weather['preciptotal'].astype(float)

In [54]:
weather.preciptotal = weather.preciptotal.map(lambda x: x.replace('T', '0.001')).astype(float)

### StnPressure

In [55]:
stnpressure_missing = weather['stnpressure'].map(lambda x: x == 'M')
stnpressure_missing.sum()

2

In [56]:
weather = weather[~stnpressure_missing]

In [57]:
weather['stnpressure'] = weather['stnpressure'].map(float)

### SeaLevel

In [58]:
sealevel_missing = weather['sealevel'].map(lambda x: x == 'M')
sealevel_missing.sum()

7

In [59]:
weather = weather[~sealevel_missing]

In [60]:
weather['sealevel'] = weather['sealevel'].map(float)

### ResultSpeed

In [61]:
weather.resultspeed.isnull().sum()

0

### ResultDir

In [62]:
weather.resultdir.isnull().sum()

0

### AvgSpeed

In [63]:
AvgSpeed_missing = weather['avgspeed'].map(lambda x: x == 'M')
AvgSpeed_missing.sum()

0

In [64]:
weather['avgspeed'] = weather['avgspeed'].map(float)

In [65]:
weather.head()

,station,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,HZ,BCFG,FG,TS,TSRA,FU,VCFG,GR,DZ,RA
0,1,"[2007, 05, 01]",83,50,67.0,14,51,56.0,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
1,2,"[2007, 05, 01]",84,52,68.0,M,51,57.0,0.0,3.0,...,0,0,0,0,0,0,0,0,0,0
2,1,"[2007, 05, 02]",59,42,51.0,-3,42,47.0,14.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,2,"[2007, 05, 02]",60,43,52.0,M,42,47.0,13.0,0.0,...,1,0,0,0,0,0,0,0,0,0
4,1,"[2007, 05, 03]",66,46,56.0,2,40,48.0,9.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [66]:
weather.isnull().sum().sum()

0